/* src/components/css/LocalSearches.css */

.local-searches {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0;
    padding: 5cap;
    border: 2px solid gray;
    background-color: #ffffff;
    border-radius: 10px;
    letter-spacing: .04cap;
    font-family: "Open Sans", sans-serif;
font-weight: 500;
margin-bottom: 5%;
  }
  
  .info-icon {
    position: absolute;
    top: 4%;
    right: 3%;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 119, 119);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .text-content {
    flex: 1;
    padding-right: 2rem;
  }
  
  .text-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
  }
  
  .text-content p, .text-content ul {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
  }
  .text-content ul {
    list-style: none; /* Remove default bullet points */
    padding-left: 0;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  
  .text-content ul li {
    margin: 20px 0;
    position: relative;
    padding-left: 25px; /* Adjust this value to ensure enough space for the checkmark */
  }
  
  .text-content ul li::before {
    content: "\2714"; /* Unicode for checkmark */
    color: green;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .citations-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .citations-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .citations-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .citations-content p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .local-searches {
        justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: auto;
      width: 90%;
      padding: 40px;
      margin-bottom: 10%;
    }
    .info-icon {
        position: absolute;
        top: 2%;
        right: 7%;
        width: 30px;
        height: 30px;
        border: 1px solid gray;
        background-color: rgb(255, 255, 255);
        color: rgb(119, 119, 119);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
      }
      
    .text-content {
      padding-right: 0;
    }
  
    .image-content {
      margin-top: 2rem;
    }
  }
  