.problem-and-solution {
    padding: 2rem;
    background-color: #ffffff;
  }
  .problem, .solution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .problem{
    border-radius: 4px;
    padding:1%;
}
  .problem-text, .solution-text {
    flex: 1;
  }

  .problem-text h2, .solution-text h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .problem-text p, .solution-text p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1rem;
    padding-right:.5rem;
    
  }
  
  .problem-image, .solution-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .problem-image img, .solution-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
   .problem, .solution {
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
  }

  .problem-text, .solution-text {
    padding-right: 0;
    order: 2; /* Text will appear second */
  }

  .problem-image, .solution-image {
    margin-top: 2rem;
    order: 1; /* Image will appear first */
  }
  }
  