body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.social-media-marketing {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  height: 100%;
  width: 100%;
}
.social-media-marketing-btn-learn-more{
cursor: pointer;
}
.social-media-marketing-image-container {
  display: flex;
  margin: 0;
  height:80%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.social-media-marketing-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.social-media-marketing-content-container {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  padding: 5%;
}

.social-media-marketing-title {
  text-align: left;
  color: #4e699b;
}

.social-media-marketing-intro {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.social-media-marketing-description {
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.social-media-marketing-process {
  margin-top: 20px;
}

.social-media-marketing-subtitle {
  color: #4e699b;
}

.social-media-marketing-step {
  margin-bottom: 20px;
}

.social-media-marketing-step h3 {
  color: #4e699b;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.social-media-marketing-step ul {
  list-style: disc;
  margin-left: 20px;
}

.social-media-marketing-step ul li {
  margin-bottom: 5px;
}

.social-media-marketing-why-choose-us {
  margin-top: 40px;
}

.social-media-marketing-why-choose-us h2 {
  color: #4e699b;
}

.social-media-marketing-why-choose-us ul {
  list-style: none;
  padding: 0;
}

.social-media-marketing-why-choose-us ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.social-media-marketing-cta {
  text-align: center;
  margin-top: 40px;
}

.social-media-marketing-cta h2 {
  color: #4e699b;
  margin-bottom: 10px;
}

.social-media-marketing-cta p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.social-media-marketing-btn-learn-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e699b;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.social-media-marketing-btn-learn-more:hover {
  background-color: #003399;
}
